<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500734341229-b8e3jvtkhl4m8e06l5fmuio5k1b9n27t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500734341229-b8e3jvtkhl4m8e06l5fmuio5k1b9n27t</string>
	<key>API_KEY</key>
	<string>AIzaSyAusy0XxqZHQiJc9GznqS4YOCggaGwdjUk</string>
	<key>GCM_SENDER_ID</key>
	<string>500734341229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-flutter-f543c</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-flutter-f543c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500734341229:ios:0f431fe5d75b486c660f64</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-flutter-f543c.firebaseio.com</string>
</dict>
</plist>